.css-syntax-box {
    border: 2px;
    border-color: #080808;
    background-color: #c7ddef;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    font-size: 12pt;
    margin: 1em;
    padding: 2px;
}