<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title ng-controller="InitTitle">{{page.title}}</title>
    <link rel="stylesheet" href="../../modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <header>
            <h1 class="display-3" ng-controller="InitTitle">{{page.title}}</h1>
            <hr>
        </header>
        <section>
            <div ng-controller="HeaderController">
                <div id="message" class="display-4" ng-class="{default: isDefault, error: isError, warning: isWarning}">
                    <span>{{message}}</span>
                </div>
                <div id="control">
                    <button ng-click="showError()">Simulate Error</button>
                    <button ng-click="showWarning()">Simulate Warning</button>
                </div>
            </div>
        </section>
    </div>

    <script src="../../modules/angular/angular.js"></script>
    <script src="app.js"></script>
</body>
</html>