#message {
    width: auto;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#control {
    padding: 20px;
}

.error {
    background-color: orangered;
}

.warning {
    background-color: gold;
}

.default {
    background-color: seashell;
}

hr {
    padding: 10px;
}

button {
    margin: 20px;
    padding: 10px;
}